{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}

{% block content %}
    <p class="text-center fw-lighter">최근 한달의 데이터를 제공합니다.</p>
    <div class="table_area float-end">
        <a class="weatherwidget-io mb-3" href="https://forecast7.com/en/35d87128d60/daegu/" data-label_1="DAEGU" data-label_2="WEATHER" data-theme="pure" >DAEGU WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
        <div style="width:100%; height:200px;" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>측정일</th>
                    <th>실측정값</th>
                    <th>예측값</th>
                    <th>예측정확도</th>
                </thead>
                {% for entry in queryset %}
                <tr>
                    <td>{{ entry.measure_date }}</td>
                    <td>{{ entry.measure }}</td>
                    <td>{{ entry.predictive_measure }}</td>
                    <td>{{ entry.measurement_accuracy }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="chart_area float-start">
        <figure class="highcharts-figure">
        <div id="container"></div>
        <!-- {% for entry in queryset %}{{ entry.measure }}{% if not forloop.last %}, {% endif %}{% endfor %} -->
        </figure>
    </div>
    <div style="clear:both"></div>
    <script>
          Highcharts.chart('container', {
            colors: ['#7595F5', '#F65757'],
            chart: {
              type: 'spline'
            },
            title: {
              text: '{{device_id}}'
            },
            xAxis: {
              categories: [
                {% for entry in queryset %}'{{ entry.measure_date }}',{% if not forloop.last %} {% endif %}{% endfor %}
              ]
            },
            yAxis: {
              title: {
                text: '발전량'
              },
              labels: {
                formatter: function () {
                  return this.value + 'w';
                }
              }
            },
            tooltip: {
              crosshairs: true,
              shared: true
            },
            plotOptions: {
              spline: {
                marker: {
                  radius: 4,
                  lineColor: '#757575',
                  lineWidth: 1
                }
              }
            },
             series: [{
                    name: '실측정값',
                    data: [{% for entry in queryset %}{{ entry.measure }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }, {
                    name: '예측값',
                    data: [{% for entry in queryset %}{{ entry.predictive_measure }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }]
            });
        </script>
{% endblock %}