{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}

{% block content %}

    <figure class="highcharts-figure">
        <div id="container"></div>
        <!-- {% for entry in queryset %}{{ entry }}{% if not forloop.last %}, {% endif %}{% endfor %} -->
    </figure>

    <script>
          Highcharts.chart('container', {
            chart: {
              type: 'spline'
            },
            title: {
              text: '태양광 발전량'
            },
            xAxis: {
              categories: [

              ]
            },
            yAxis: {
              title: {
                text: '발전량'
              },
              labels: {
                formatter: function () {
                  return this.value + 'w';
                }
              }
            },
            tooltip: {
              crosshairs: true,
              shared: true
            },
            plotOptions: {
              spline: {
                marker: {
                  radius: 4,
                  lineColor: '#666666',
                  lineWidth: 1
                }
              }
            },
             series: [{
                    name: 'data_first',
                    data: [{% for entry in queryset.data_first %}{{ entry.measure }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }, {
                    name: 'data_second',
                    data: [{% for entry in queryset.data_second %}{{ entry.measure }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }]
            });
        </script>
{% endblock %}


<!--
series: [{
  name: 'data_first',
  data: [
    {% for entry in queryset %}{{ entry.measure }}{% if not forloop.last %}, {% endif %}{% endfor %}
  ],
}]
-->