<div class="saps_header">
    <div style="float: left; margin-left:10px; cursor: pointer;" onclick="location.href='{% url 'dashboardapp:main' %}';">
        <h1 class="saps_logo" style="margin:0px">
            S.A.P.S
        </h1>
    </div>
    <div class="saps_header_navbar", style="float: right;">
        <span style="margin-right: 0.5rem;">
            {{request.user.name}}님 로그인
        </span>
        <a href="{% url 'accountapp:detail' pk=request.user%}" class="saps_header_nav">
            <span> 정보수정 </span>
        </a>
        <a href="{% url 'accountapp:logout' %}" class="saps_header_nav" style="margin-right: 1rem;">
            <span> 로그아웃 </span>
        </a>
    </div>
    <div style="clear: both;"></div>
</div>